* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* #navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em, 2em;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  background-image: url(/img/fixed.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
.container header {
  width: 100wh;
  height: 35rem;
  position: sticky;
  background-image: url(/img/fixed2.png);
  background-position: center;
  background-size: cover;
  align-items: center;
}
.container header #SIGN {
  font-family: "Square Peg", cursive;
  font-size: 9rem;
  text-align: center;
  color: rgb(25, 132, 198);
}
.container header .description {
  font-family: "Square Peg", cursive;
  font-size: 5rem;
  color: rgba(14, 15, 15, 0.899);
  text-align: center;
}
.container header span {
  color: rgb(121, 89, 202);
}
.container nav {
  display: flex;
  justify-content: center;
}
.container .fixed {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  border: 10rem;
  font-size: 2.5rem;
  padding: 1rem;
  background: rgba(49, 125, 134, 0.5);
  position: fixed;
  z-index: 99;
}
.container span {
  padding: 0.5rem;
}
.container a {
  color: black;
  text-decoration: none;
}
.container a:hover {
  color: rgb(3, 35, 53);
  text-decoration: underline;
}
.container .services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 5rem;
  padding-top: 20rem;
}
.container .reviews {
  text-align: center;
  padding: 2rem;
}
.container .reviews img {
  height: 3.5rem;
}
.container .reviews p {
  padding-top: 2rem;
  font-size: 2.5rem;
}

.container1 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(159, 215, 179, 0.5), rgba(62, 83, 70, 0.5)), url(/img/end.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.container1 div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  display: inline-block;
  text-align: center;
}
.container1 footer {
  border: 5em rgb(57, 189, 132);
}
.container1 .footer-border {
  width: 100%;
  height: 5vh;
  align-items: center;
  padding: 5em;
  background-color: solid rgb(52, 186, 177);
}
.container1 span {
  padding: 4rem;
}
.container1 h1 {
  font-size: 3rem;
  color: beige;
}
.container1 a {
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
}
.container1 img {
  height: 3.5rem;
}

.container3 {
  height: 100vh;
  width: 100wh;
  background-image: linear-gradient(rgba(32, 67, 45, 0.5), rgba(40, 70, 52, 0.5)), url(/img/last.jpg);
  background-size: cover;
  background-position: center;
}
.container3 header {
  height: 25vh;
  width: 100vw;
  align-items: center;
}
.container3 header div {
  align-items: center;
  height: 15vh;
  width: 95vw;
}
.container3 header p {
  padding: 14rem;
  font-size: 4rem;
  color: rgb(237, 236, 240);
  text-align: center;
}
.container3 .CAROUSEL-content {
  margin-top: 5%;
  border: 2rem rgb(128, 51, 0);
  height: 23vh;
  width: 100vw;
  position: relative;
  background-color: transparent;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.container3 .CAROUSEL-content video {
  height: 16rem;
  width: 16rem;
}
.container3 .CAROUSEL-content video:hover {
  height: 50rem;
  width: 50rem;
}
.container3 .CAROUSEL-content p {
  padding-top: 2rem;
  font-size: 2rem;
}

.main {
  width: 100vw;
  height: 100vh;
}
.main .container4 {
  height: 100vh;
  width: 100wh;
  background-image: linear-gradient(rgba(127, 209, 169, 0.5), rgba(62, 83, 70, 0.5)), url(/img/co3.png);
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=main.css.map */
